body {
    background-image: url("http://static4.businessinsider.com/image/57c4ea1709d2937a048b5101-1190-625/a-giant-poop-emoji-is-looming-over-san-francisco.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    
}